<script type="text/html" id="creatAlbumPageTemplate">
  <div id="CreatAlbumContainer">
    <div class="CreateAlbumHeader">
      <div class="headerTextContainer">
          <div class="headerText">Create Album</div>
          <div id='toLandFromCreateAlbum'class="btnback buttons">Back</div>
      </div>
    </div>
    <div class="albumMainContainer">
      <div class="_albumTitle">
        <div class='first_row'>
          <div class="albumTitleLabel">Title</div>
          <input type="text" id="albumTitleText">
        </div>
        <div class="buttons" id="CreateAlbumButton">Save</div>
        <div class="buttons" id="cancel">cancel</div>
      </div>
    </div>
  </div> 
</script>