<script type="text/html" id="loginPageTemplate">
    <div class = "mainContainer">
    	<div id="loginContainer" class="row">
            <div class="loginHeader">Log In</div>
        	<div class="userNameContainer">
                <div class="userNameLabel">Username</div>
                <input type="text" id="loginUserName"/>
            </div>
            <div class="passwordContainer">
                <div class="passwordLabel">Password</div>
            	<input type="password" id="loginPassword"/>
            </div>
        	<div id="LoginButton" class="buttons">Log In</div>
    	</div>
        <div id="SignupContainer">
        <div class="singupHeader">Sign Up</div>
            <div class="userNameContainer">
                <div class="userNameLabel">Username </div> 
                <input type="text" id="signupUserName"/><div id="eg">eg: bob</div>
            </div>
            <div class="passwordContainer">
                <div class="passwordLabel">Password</div>
                <input type="password" id="signupPassword"/>
            </div>
            <div id="sigupButton" class="buttons">Sign Up</div>
        </div>
    <div>
</script>