<script type="text/html" id="uploadPhotoTemplate">
	<div class="uploadPhotoWrapper">
        <div class="uploadBar">
            <input type = "file" id="imgUpload" multiple>
        </div>
        <div class="fileList">
            <div class="fileListCont"></div>
            <div class="saveOptions">
               <div class="upMore">Upload More :
                <input type = "file" id="uploadMore" multiple></div>
                <div id='btnCancel'class="buttons">Cancel</div>
                <div id='btnUpload'class="buttons">Save</div>
            </div>
        </div>
    </div>
</script>